<div class = "user_buttons">
  <% if @booking%>
    <p>予約した施設の数:<%= @booking.length%>件</p>
    <%= button_to "予約した施設を確認する", reservations_path, method: :get, class: "user_buttons_child"%>
  <% else%>
    <p>予約をした施設はありません</p>
  <% end%>
  <%= button_to "予約をする", rooms_path, method: :get, class: "user_buttons_child"%>
  <%= button_to "戻る", users_path, method: :get, class: "user_buttons_child"%>
</div>
